.button{
    display: flex;
    align-items: center;
    justify-content: center;


    text-decoration: none;
    background-color: transparent;
    gap: .62rem;
    min-width: 12rem;
    height: 2.5rem;
    color: var(--green500);
    padding: 0  0.17rem;
    border: 0.062rem solid var(--green500);
    border-radius: 8px;
    transition: color .2s, background-color .2s
}

.button span{
    font-weight: 600;
    

}

.button:hover{
    background-color: var(--green500);
    color:  var(--white);
    
   

}
.button:hover span{
    color:  var(--white);
}